.header-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  padding-top: 30px;
  padding-bottom: 10px;
}
.ar-logo-card {
  display: flex;
  padding-right: 500px;
}
.ar-logo {
  width: 40px;
  height: 40px;
}
.ar-heading {
  font-size: 14px;
  font-family: "Roboto";
  margin-left: 5px;
}
.avatar-container {
  display: flex;
  flex-direction: row;
}
.avatar-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.avatar-name {
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto";
  margin-left: 10px;
}
